<form id="fForm" method="post" action="#">
    <fieldset>
        <legend>Пoле заполнения</legend>
        <div class="form_name">
            <label for="name">Name:</label>
            <input type="text" name="name" required>
        </div>
        <div class="form_email">
            <label for="email">E-mail:</label>
            <input type="text" name="email" >
        </div>
        <button type="submit" class="form_button">Отправь меня</button>
    </fieldset>
</form>