<header class="header">
    <a href="#">cvonChess</a>
    <button onclick="document.body.classList.toggle('blackTheme')" class="headerButton">Black background</button>
    <span class="span"><a href="#" class="regist">Войти</a></span>
</header>