<!DOCTYPE html>
<html>
 <head>
	<title>cvonChess</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  
	<link rel="stylesheet" type="text/css" href="home/firstSite.css">
	<link rel="stylesheet" type="text/css" href="chessboard-1.0.0.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
 </head>
 <body>
	 

	{{> form}}
 	<div class="content">
 		<div class="box">
 			<div class="mainChess ">
 				<div class="mainImage border text">
 					<a href="Learn/learn.html" title="Учиться"><img alt="Учиться шахматам, шахматные дебюты" src="images/nextpng.com.png"><p>Learn</p></a>
 				</div>
 				<div class="mainImage border text">
 					<a href="#" title="Играть"><img alt="Играть в шахматы онлайн" src="images/hotpng.com.png"><p>Play</p></a>
 				</div>
 				<div class="mainImage border text">
 					<a href="#" title="Функции"><img alt="Настройки, редактировать, изменять" src="images/pngbarn.png"><p>Function</p></a>
 				</div>
 			</div>
 			<div class="buttonPlay">
 				<div class="time border">1</div>
 				<div class="time border">3</div>
 				<div class="time border">5</div>
 				<div class="time border">15</div>
 				<div class="time border">30</div>
 				<div class="time border">Other</div>
 			</div>
 		</div>
 	 	<div class="box">
 	 		<h1 class="text">Шахматные задачи</h1>
 	 		<img src="#" alt="шахматная задача" class="chessProblem">
 	 	</div>
 	  	<div class="box second">
 			<div class="image"><div id="board1" class="board1"></div></div>
 			<div class="text textSecond ">
 				<h2>Играть в шахматы онлайн, без регистрации</h2>
 				<button>Играть с компьютером</button>
 				<button>Играть с человеком</button>
 				<p>Удачной игры!</p>
 			</div>
 		</div>
 		<div class="box">
			 <h1 class="text">Рейтинг игроков:/// </h1>
			 		<p><div class="money"><span>
					<h1>You can support the project on:</h1>
					<p>Qiwi:<a href="#"></a></p>
					<p>YandexMoney:<a href="#"></a></p>
					</span></div></p>
		</div>
		<div class="add">First add blok be google add</div>
		<div><h1> Текст про сайт. Ссылки на ЧаВо. Ключевые слова( кстать не забыть добавить мета теги.) играть в шкахматы онлайн без регистрации
			,с компьютером, по сети, вдвоем, учиться играть в шахматы, дебюты, базы дебютов, последние новости шахмат, известные шахматисты, 
			чемпион мира по шахматам, редактор доски.
		</h1></div>
		<div class="add">Second add blok be google add</div>
	 </div>
	 <footer> {{!--для футкра сдеалать что бы ссылки не рендерились роботом --}}
		<h4>contacts: <a href="vk.com">vk</a><a href="vk.com">telegram</a><a href="vk.com">facebook</a><a href="vk.com">twiter</a></h4> 
		<h4>FAQ</h4> ну и еще чонить от себя там по ходу доработаю
	</footer>
		

<script src="chessboard-1.0.0.js"></script>
<script src="home/firstSite.js"></script>
</body>
 </html>